<section class="section default">
  <div class="form-width">
    <h2 class="title is-2">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :username, class: "label" %>
        <div class="control">
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "input", placeholder: current_user.username %>
        </div>
      </div>

      <div class="field">
        <%= f.label :city, class: "label" %>
        <%= f.text_field :city, autocomplete: "address-level2", class: "input", placeholder: "City" %>
      </div>

      <div class="field">
        <%= f.label :state, class: "label" %>
        <div class="select">
          <%= f.select :state, User.states, :prompt => "State" %><br>
        </div>
      </div>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control has-icons-left">
          <%= f.email_field :email, autocomplete: "email", class: "input", placeholder: "Email" %>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: "label"%> <i class="small-font">(leave blank if you don't want to change it)</i><br />
        <div class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "New Password" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "label" %>
        <div class="control has-icons-left">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Confirm New Password"%>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <% if current_user.provider != "github" %>
        <div class="field">
          <%= f.label :current_password, class: "label" %> <i class="small-font">(we need your current password to confirm your changes)</i><br />
          <div class="control has-icons-left">
            <%= f.password_field :current_password, autocomplete: "current-password", class: "input", placeholder: "Confirm Current Password" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Update", class: "button is-info is-light inline" %>
        <%= link_to 'Cancel', :back, class: "button is-light inline"%>
      </div>
    <% end %>

    <br>
    <br>

    <div class="center-content">
      <h5 class="title is-5">Delete My Account?</h5>
      <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-light is-small is-warning" %>
    </div>
  </div>
</section>


