<section class="section default">
    <div class="columns">
        <div class="column is-one-third">
            <div class="center-content">
                <h3 class="title is-3">Welcome <%= current_user.username.capitalize %></h2>
                <p>Member since <%= current_user.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %Y") %></p>
                <p><%= current_user.city.capitalize %>, <%= current_user.state %></p><br>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "button button-spacing" %><br>
                <%= link_to "Add Pet", new_pet_path, class: "is-info is-light button button-spacing" %>
            </div>
            <div class="profile-about center-content">
                <% if !current_user.pets.empty? %>
                    <h4 class="title is-4">Your Pets</h3>
                    <% @pets.each do | pet | %>
                        <div>
                            <%= link_to pet.name, pet_path(pet.id), class: "subtitle is-6" %><br>
                            <%= image_tag(pet.avatar, style: "border-radius: 100%; max-width: 150px") %><br>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="column">
            <div class="columns is-mobile">
                <div class="column center-content">
                    <h3 class="title is-3">Upcoming Events</h3>
                    <% if !current_user.confirmed_events.empty? %>
                        <% current_user.confirmed_events.each do | event | %>
                            <p><%= event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p>
                            <% if event.host_pet.user == current_user %>
                                <p>Playdate with <%= event.host_pet.name %> and <%= event.pets.first.name %></p>
                            <% else %>
                                <p>Playdate with <%= event.pets.first.name %> and <%= event.host_pet.name %></p>
                            <% end %>
                            <%= link_to "Cancel", event_path(event), method: :delete %>
                        <% end %>
                    <% else %>
                        <p>None scheduled.</p>
                        <%= link_to "Find Playmate?", pets_path %>
                    <% end %>
                    <div class="align-bottom">
                        <%= link_to "History", events_past_path, class: "button is-small is-light" %>  
                    </div>
                </div>

                <div class="column center-content">
                    <h3 class="title is-3">New Event Invites</h3>
                    <% if !current_user.unconfirmed_attendee_events.empty? %>
                        <% current_user.unconfirmed_attendee_events.each do | event | %>
                            <article class="message is-danger">
                                <div class="message-header">
                                    <p><%= event.host.username.capitalize %> has invited <%= event.pets.first.name.capitalize %> to the following event </p>
                                </div>
                                <div class="message-body">
                                    <p><%= event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p>
                                    <p>Playdate with <%= event.host_pet.name %></p>

                                    <p><%= event.host.username.capitalize %> left the following message: <%= event.invites.first.message %></p>
                                    <button class="button is-small"><%= link_to "Accept", "/events/#{event.id}/accept", method: :patch %></button>
                                    <button class="button is-small"><%= link_to "Decline", event_path(event), method: :delete %></button>
                                </div>
                            </article>
                        <% end %>
                    <% else %>
                        <p>No invites yet.</p>
                    <% end %>
                    <div class="align-bottom">
                        <%= link_to "Sent Invites", events_pending_path, class: "button is-small is-light" %>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>