<div class="form-width">
    <% if @pet.errors.any? %>
            <h5 class="error flash alert"><%= @pet.errors.full_messages.to_sentence %></h5>
    <% end %>

    <%= form_with model: @pet, local: true do |form| %>
        <div class="field">
            <%= form.label :name, "Name", class: "label" %>

            <div class="control">
                <%= form.text_field :name, class: "input" %>
            </div>
        </div>

        <div class="field">
            <%= form.label :breed, "Breed", class: "label" %>
            <div class="control">
                <%= form.text_field :breed, class: "input" %>
            </div>
        </div>

        <div class="field">
            <%= form.label :weight, "Weight", class: "label" %>
            <div class="select">
                <%= form.select :weight, ['XSmall 0-4lbs', 'Small 5-10lbs', 'Medium 11-23lbs', 'Large 24-45lbs', 'XLarge 46-70lbs', '2XLarge 71-85lbs', '3XLarge 86lbs+'], class: "input", prompt: "Select Weight" %>
            </div>
        </div>

        <div class="field">
            <%= form.label :gender, "Gender", class: "label" %>
            <div class="select">
                <%= form.select :gender, ['Male', 'Female'], class: "input", prompt: "Select Gender" %>
            </div>
        </div>

        <div class="field">
            <%= form.label :birthdate, class: "label" %>
            <div class="control"> 
                <%= form.date_field :birthdate, class: "input" %>
            </div>
        </div>

        <%= form.submit class: "button is-info is-light inline" %>
        <%= link_to 'Cancel', @pet, class: "button is-light inline"%><br>
    <% end %> 
</div>
