<div class="form-width">
    <% if @pet.errors.any? %>
            <h5 class="error"><%= @pet.errors.full_messages.to_sentence %></h5>
    <% end %>


    <%= form_with model: @pet, local: true do |f| %>
        <div class="field">
            <%= f.label :name, "Name", class: "label" %>

            <div class="control">
                <%= f.text_field :name, class: "input" %>
            </div>
        </div>

        <div class="field">
            <%= f.label :breed, "Breed", class: "label" %>
            <div class="control">
                <%= f.text_field :breed, class: "input" %>
            </div>
        </div>

        <div class="field">
            <%= f.label :weight, "Weight", class: "label" %>
            <div class="select">
                <%= f.select :weight, ['XSmall 0-4lbs', 'Small 5-10lbs', 'Medium 11-23lbs', 'Large 24-45lbs', 'XLarge 46-70lbs', '2XLarge 71-85lbs', '3XLarge 86lbs+'], class: "input" %>
            </div>
        </div>

        <div class="field">
            <%= f.label :gender, "Gender", class: "label" %>
            <div class="select">
                <%= f.select :gender, ['Male', 'Female'], class: "input" %>
            </div>
        </div>

        <div class="field">
            <%= f.label :birthdate, class: "label" %>
            <div class="control"> 
                <%= f.date_field :birthdate, class: "input" %>
            </div>
        </div>

        <div class="field">
            <%= f.label :avatar, "Profile Image", class: "label" %>
            <%= f.file_field :avatar %>
        </div>

        <%= f.submit class: "button is-info is-light inline" %>
        <%= link_to 'Cancel', :back, class: "button is-light inline"%><br>
    <% end %> 
</div>
