<section class="section default">
  <div class="search-bar">
    <%= form_tag(search_page_path, :method => "get") do %>  
      <div class="field has-addons">  
        <div class="control is-expanded">
          <%= search_field_tag :search, params[:search], placeholder: "Search by City or Breed", class: "input" %>  
        </div>
        <div class="control has-icons-right">  
          <%= button_tag "", class: "button is-info", :name => nil %>  
          <span class="icon is-right">
            <i class="fas fa-search"></i>
          </span>
        </div>  
      </div>  
    <% end %>
  </div>

    <div class="columns is-mobile is-multiline is-centered">
        <% @pets.each do | pet | %>
            <% if pet.user != current_user %>
                <div class="column is-narrow profile-card">
                    <%= image_tag(pet.avatar, style: "max-width: 100px", :class => "card-img") %>
                    <p class="bold-font"><%= link_to pet.name, pet_path(pet.id) %></p>
                    <p>Breed: <%= pet.breed %></p>
                    <p>Size: <%= pet.weight %></p>
                    <p>Gender: <%= pet.gender %></p>
                    <p>Age: <%= pet.age %></p>
                    <p>Location: <%= pet.user.city.capitalize %>, <%= pet.user.state %></p>
                    <%= link_to "Invite", new_pet_event_path(pet.id), class: "button is-light is-small is-link button-spacing"%>
                </div>
            <% end %>
        <% end %>
    </div>
</section>