<h1>This is the show pet page</h1>

<%= image_tag(@pet.image, size: "326x430")%>
<ul>
    <li><%= @pet.name %></li>
    <li><%= @pet.breed %></li>
    <li><%= @pet.weight %></li>
    <li><%= @pet.gender %></li>
</ul>