<section class="section default">
    <div class="columns">
        <div class="column align-right profile-img">
            <%= image_tag(@pet.avatar, style: "max-width: 400px") %>
        </div>

        <div class="column">
            <h3 class="title is-3"><%= @pet.name %></h3>
            <p>Name: <%= @pet.name %></p>
            <p>Breed: <%= @pet.breed %></p>
            <p>Weight: <%= @pet.weight %></p>
            <p>Gender: <%= @pet.gender %></p>
            <p>Age: <%= @pet.age %></p>
            <p>Location: <%= @pet.user.city.capitalize %>, <%= @pet.user.state %></p>
            <p>Owner: <%= link_to @pet.user.username.capitalize, user_path(@pet.user.id) %></p>
            <% if @pet.user == current_user %>
                <%= link_to "Edit", edit_pet_path(@pet), class: "button is-small is-light align-bottom" %>
                <%= link_to 'Back', :back, class: "button is-small is-light align-bottom"%><br>
            <% else %>
                <%= link_to "Invite", new_pet_event_path(@pet.id), class: "button is-small is-light align-bottom" %>
                <%= link_to 'Back', :back, class: "button is-small is-light align-bottom"%><br>
            <% end %>

            <% if @pet.user == current_user %>
                <% if !current_user.confirmed_events.empty? %>
                    <h3 class="title is-3 top-padding">Upcoming Events</h3>
                    <% current_user.confirmed_events.each do | event | %>
                        <% if event.pets.first == @pet || event.host_pet == @pet %>
                            <div>
                                <p><%= event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p>
                                <% if Pet.find_by_id(event.host_pet_id).user == current_user %>
                                    <p>Playdate with <%= event.pets.first.name %></p>
                                <% else %>
                                    <p>Playdate with <%= event.host_pet.name %></p>
                                <% end %>
                                <%= link_to "View", pet_event_path(params[:id], event.id), class: "button is-small is-light is-primary button-spacing" %>
                            </div><br>
                        <% else %>
                            <div>
                                <p>None scheduled.</p>
                                <%= link_to "Find Playmate?", pets_path %>
                            </div>
                            <% break %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</section>