<h1>This is the user show page</h1>

<% if current_user == User.all.find_by_id(params[:id]) %>
    <p>Your profile page!</p>
<% end %>


<h3>Here are all your pets:</h3>
<% @pets.each do | pet | %>
    <%= link_to pet.name, pet_path(pet.id) %>
<% end %>

<% @pets.events.each do | event | %>
    <% if event.accepted != true %>
        <h3><%= event.host %> has invited you to the following playdate: </h3>
        <p><%= event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p>
        <p>Playdate with <%= Pet.all.find_by_id(invite.event.host_pet_id).name %></p>
        <%= link_to "Accept", "/events/#{invite.event.id}/accept", method: :patch %>
        <%= link_to "Decline", "/events/#{invite.event.id}/decline", method: :patch %>
    <% elsif invite.event.accepted == true %>
            <h3>Your Upcoming Events </h3>
            <p><%= invite.event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p>
            <p>Playdate with </p>
        <% end %>
<% end %>
