<h1>This is the user show page</h1>

<% if current_user == User.all.find_by_id(params[:id]) %>
    <p>Your profile page!</p>
<% end %>

<% if !current_user.pets.empty? %>
    <h3>Here are all your pets:</h3>
    <% @pets.each do | pet | %>
        <%= link_to pet.name, pet_path(pet.id) %>
    <% end %>
<% end %>

<% if !current_user.confirmed_events.empty? %>
    <h3>Your Upcoming Events</h3>
    <% current_user.confirmed_events.each do | event | %>
            <p><%= event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p>
            <% if Pet.find_by_id(event.host_pet_id).user == current_user %>
                <p>Playdate with <%= event.pets.first.name %></p>
            <% else %>
                <p>Playdate with <%= event.host_pet.name %></p>
            <% end %>
            <%= link_to "Cancel", event_path(event), method: :delete %>

    <% end %>
<% end %>

<% if !current_user.unconfirmed_attendee_events.empty? %>
    <h3>You've been invited to the following events</h3>
    <% current_user.unconfirmed_attendee_events.each do | event | %>
            <p><%= event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p>
            <p>Playdate with <%= event.host_pet.name %></p>
            <%= link_to "Accept", "/events/#{event.id}/accept", method: :patch %>
            <%= link_to "Decline", event_path(event), method: :delete %> 
    <% end %>
<% end %>

<% if !current_user.unconfirmed_host_events.empty? %>
    <h3>Awaiting response...</h3>
    <% current_user.unconfirmed_host_events.each do | event | %>
            <p><%= event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p>
            <p>Playdate with <%= event.pets.first.name %></p>
            <%= link_to "Cancel", event_path(event), method: :delete %>
    <% end %>
<% end %>