<div class="form-width">

  <% if @event.errors.any? %>
          <h5 class="error"><%= @event.errors.full_messages.to_sentence %></h5>
  <% end %>

  <%= form_for @event do |f| %>
    <%= f.hidden_field :accepted?, :value => false %>

    <div class="field">
      <%= f.label "Select your Pet", class: "label" %>
      <div class="select"> 
        <%= f.collection_select :host_pet_id, current_user.pets, :id, :name, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :address_line_one, class: "label"%>
      <div class="control"> 
        <%= f.text_field :address_line_one, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :address_line_two, class: "label" %>
      <div class="control"> 
        <%= f.text_field :address_line_two, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :city, class: "label" %>
      <div class="control"> 
        <%= f.text_field :city, class: "input" %>
      </div>
    </div>

    <div class="field">
        <%= f.label :state, class: "label" %>
        <div class="select">
          <%= f.select :state, User.states %>
        </div>
    </div>

    <div class="field">
      <%= f.label :zip, class: "label" %>
      <div class="control"> 
        <%= f.number_field :zip, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :date, class: "label" %>
      <div class="control"> 
        <%= f.datetime_field :date, class: "input" %>
      </div>
    </div>
    
    <%= f.fields_for :invites do | i | %>
      <%= f.hidden_field :pet_id, :value => params[:pet_id] %>
      <div class="field">
        <%= i.label :message, class: "label" %>
        <div class="control">
          <%= i.text_area :message, class: "input" %>
        </div>
      </div>
    <% end %>
  
    <%= f.submit class: "button is-info is-light" %>
  <% end %>
</div>