<h1>test</h1>

<% if @event.errors.any? %>
        <h5 class="error"><%= @event.errors.full_messages.to_sentence %></h5>
<% end %>

<%= form_for @event do |f| %>
    <%= f.hidden_field :accepted?, :value => false %>

    <%= f.label "Select your Pet" %>
    <%= f.collection_select :host_pet_id, current_user.pets, :id, :name %><br>

    <%= f.label :address_line_one %>
    <%= f.text_field :address_line_one %><br>

    <%= f.label :address_line_two %>
    <%= f.text_field :address_line_two %><br>

    <%= f.label :city %>
    <%= f.text_field :city %><br>

    <%= f.label :state %>
    <%= f.text_field :state %><br>

    <%= f.label :zip %>
    <%= f.number_field :zip %><br>

    <%= f.label :date %>
    <%= f.datetime_field :date %><br>
  
    <%= f.fields_for :invites do | i | %>
        <%= f.hidden_field :pet_id, :value => params[:pet_id] %>
        <%= i.label :message %>
        <%= i.text_field :message %><br>
    <% end %>
 
  <%= f.submit %>
<% end %>