<section class="section default center-content">
    <% if Event.past_events.include?(@event) && @event.accepted == true%>
        <h2 class="title is-2">Past Event</h2>
    <% elsif @event.accepted == true %>
        <h2 class="title is-2">Upcoming Playdate</h2>
        <div>
            <%= link_to "Cancel", event_path(@event), method: :delete, class: "button is-small is-light", data: { confirm: "Are you sure?" } %><br>
        </div><br>
    <% else %>
        <h2 class="title is-2">Playdate Pending Confirmation</h2>
        <% if @event.host == current_user %>
            <div>
                <%= link_to "Cancel Invite", event_path(@event), method: :delete, class: "button is-small is-light", data: { confirm: "Are you sure?" } %>
            </div><br>
        <% else %>
            <div>
                <%= link_to "Accept", "/events/#{@event.id}/accept", method: :patch, class: "button is-success is-small is-light" %>
                <%= link_to "Decline", event_path(@event), method: :delete, class: "button is-small is-light" %>
            </div><br>
        <% end %>
    <% end %>

    <div class="info">
        <h1 class="sub-header">Date</h1>
        <p><%= @event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p><br>

        <h1 class="sub-header">Location</h1>
        <p><%= @event.address_line_one %> <%= @event.address_line_two %></p>
        <p><%= @event.city.titleize %>, <%= @event.state %> <%= @event.zip %></p><br>

        <h1 class="sub-header">Invite Message</h1>
        <p><%= @event.invites.first.message %></p><br>

        <h1 class="sub-header">Play Mates</h1>
        <% if @event.pets.first.user == current_user %>
            <div class="in-align">
                <div class="column is-narrow profile-card-small center-content">
                    <%= image_tag(@event.pets.first.avatar, style: "max-width: 100px", :class => "card-img") %>
                    <p class="bold-font"><%= link_to @event.pets.first.name, pet_path(@event.pets.first.id) %></p>
                    <p>Breed: <%= @event.pets.first.breed %></p>
                    <p>Size: <%= @event.pets.first.weight %></p>
                    <p>Gender: <%= @event.pets.first.gender %></p>
                    <%= link_to "View", pet_path(@event.pets.first.id), class: "button is-small" %>
                </div>

                <div class="column is-narrow profile-card-small center-content">
                    <%= image_tag(@event.host_pet.avatar, style: "max-width: 100px", :class => "card-img") %>
                    <p class="bold-font"><%= link_to @event.host_pet.name, pet_path(@event.host_pet.id) %></p>
                    <p>Breed: <%= @event.host_pet.breed %></p>
                    <p>Size: <%= @event.host_pet.weight %></p>
                    <p>Gender: <%= @event.host_pet.gender %></p>
                    <%= link_to "View", pet_path(@event.host_pet.id), class: "button is-small" %>
                </div>
            </div>
        <% else %>
            <div class="in-align">
                <div class="column is-narrow profile-card-small center-content">
                    <%= image_tag(@event.host_pet.avatar, style: "max-width: 100px", :class => "card-img") %>
                    <p class="bold-font"><%= link_to @event.host_pet.name, pet_path(@event.host_pet.id) %></p>
                    <p>Breed: <%= @event.host_pet.breed %></p>
                    <p>Size: <%= @event.host_pet.weight %></p>
                    <p>Gender: <%= @event.host_pet.gender %></p>
                    <%= link_to "View", pet_path(@event.host_pet.id), class: "button is-small" %>
                </div>

                <div class="column is-narrow profile-card-small center-content">
                    <%= image_tag(@event.pets.first.avatar, style: "max-width: 100px", :class => "card-img") %>
                    <p class="bold-font"><%= link_to @event.pets.first.name, pet_path(@event.pets.first.id) %></p>
                    <p>Breed: <%= @event.pets.first.breed %></p>
                    <p>Size: <%= @event.pets.first.weight %></p>
                    <p>Gender: <%= @event.pets.first.gender %></p>
                    <%= link_to "View", pet_path(@event.pets.first.id), class: "button is-small" %>
                </div>
            </div>
        <% end %>
    </div>
</section>