<section class="section default center-content">

    <% if @event.accepted == true %>
        <h2 class="title is-2">Upcoming Playdate</h2>
    <% else %>
        <h2 class="title is-2">Playdate Pending Confirmation</h2>
    <% end %>

    <div class="info">
        <h1 class="sub-header">Date</h1>
        <p><%= @event.date.strftime("%A, %B %eth, %Y at %l:%M%p") %></p><br>

        <h1 class="sub-header">Location</h1>
        <p><%= @event.address_line_one %> <%= @event.address_line_two %></p>
        <p><%= @event.city.titleize %>, <%= @event.state %> <%= @event.zip %></p><br>

        <h1 class="sub-header">Invite Message</h1>
        <p><%= @event.invites.first.message %></p><br>

        <h1 class="sub-header">Play Mates</h1>
        <% if @event.pets.first.user == current_user %>
            <div class="column is-narrow profile-card-small center-content">
                <%= image_tag(@event.pets.first.avatar, style: "max-width: 100px", :class => "card-img") %>
                <p class="bold-font"><%= link_to @event.pets.first.name, pet_path(@event.pets.first.id) %></p>
                <p>Breed: <%= @event.pets.first.breed %></p>
                <p>Size: <%= @event.pets.first.weight %></p>
                <p>Gender: <%= @event.pets.first.gender %></p><br>
                <%= link_to "View", pet_path(@event.pets.first.id), class: "button is-small" %>
            </div>

            <div class="column is-narrow profile-card-small center-content">
                <%= image_tag(@event.host_pet.avatar, style: "max-width: 100px", :class => "card-img") %>
                <p class="bold-font"><%= link_to @event.host_pet.name, pet_path(@event.host_pet.id) %></p>
                <p>Breed: <%= @event.host_pet.breed %></p>
                <p>Size: <%= @event.host_pet.weight %></p>
                <p>Gender: <%= @event.host_pet.gender %></p><br>
                <%= link_to "View", pet_path(@event.host_pet.id), class: "button is-small" %>
            </div>
        <% else %>
            <div class="in-align">
                <div class="column is-narrow profile-card-small center-content">
                    <%= image_tag(@event.host_pet.avatar, style: "max-width: 100px", :class => "card-img") %>
                    <p class="bold-font"><%= link_to @event.host_pet.name, pet_path(@event.host_pet.id) %></p>
                    <p>Breed: <%= @event.host_pet.breed %></p>
                    <p>Size: <%= @event.host_pet.weight %></p>
                    <p>Gender: <%= @event.host_pet.gender %></p><br>
                    <%= link_to "View", pet_path(@event.host_pet.id), class: "button is-small" %>
                </div>

                <div class="column is-narrow profile-card-small">
                    <%= image_tag(@event.pets.first.avatar, style: "max-width: 100px", :class => "card-img") %>
                    <p class="bold-font"><%= link_to @event.pets.first.name, pet_path(@event.pets.first.id) %></p>
                    <p>Breed: <%= @event.pets.first.breed %></p>
                    <p>Size: <%= @event.pets.first.weight %></p>
                    <p>Gender: <%= @event.pets.first.gender %></p><br>
                    <%= link_to "View", pet_path(@event.pets.first.id), class: "button is-small" %>
                </div>
            </div>
        <% end %>
    </div>
</section>