<!DOCTYPE html>
<html>
  <head>
    <title>Petpals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "/stylesheets/main.css" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>

  <body>  

    <div class="wrapper">
      <% if notice != nil %>
        <p class="flash notice"><%= notice %></p>
      <% elsif alert != nil %>
        <p class="flash alert"><%= alert %></p>
      <% end %>
      <%= render 'layouts/nav' %>
      <%= yield %>
    </div>
  </body>
  

  <footer class="branding">
    <small>&copy; 2020 Pet Pals </small>
  </footer>
</html>
